
{% extends 'nafcbase.html' %}
{% load static %}
{% block content %}

<div class="body">
	<div class="home">
		<div class="section">

            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" />
            <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>
          

			<h2>Add an entry to the donor log</h2>
            {% for message in messages %}
                {% if message.tags == "success" %}
                    <h3 style="background-color:rgb(162, 255, 68)">ALERT: {{message}}</h3>
                {% elif message.tags == "error" %}
                    <h3 style="background-color:tomato">ALERT: {{message}}</h3>
                {% else %}
                    <h3 style="background-color:rgb(74, 255, 255)">ALERT: {{message}}</h3>
                {% endif %}
            {% endfor %}<br>
            <p>Required fields are marked by an asterisk (*)</p>
            
            <div class="newDiv alerts"></div><br>
            <form action="" method="POST" id="dataForm">
                {% csrf_token %}
                {% for single_field in form %}
                    <label for="{{single_field.name}}">{{single_field.label}}</label><br>
                    {{single_field}}<br><br>
                {% endfor %}

                <input type="submit" name="submitter" value="Submit" class="go">
            </form>
            <a href="/"><button class="danger">Cancel</button></a>
            <div class="newDiv alerts"></div>

            <script>

                $('#dataForm').on('submit', function(e) {
                    e.preventDefault()
                    $(".alerts").empty()
                    var $form = $("#dataForm")
                    var vals = getFormData($form)
                    var updateUrl = '/add-donor-entry'
                    $.ajax({
                        method:'POST',
                        url:updateUrl,
                        headers: {'X-CSRFToken': $('[name=csrfmiddlewaretoken]').val()},
                        data:vals,
                        success:function(response) {
                            var i = 0
                            for (message of response)
                            {
                                $('.alerts').append(`<h3 class="danger">ALERT: ${message}</h3>`)
                                i += 1
                            }
                            if (i == 0)
                            {
                                window.location.href = '/'
                            }
                        }
                    })
                })
            </script>
		</div>
	</div>
</div>

{% endblock %}

