{% extends 'nafcbase.html' %}
{% load static %}
{% block content %}

<div class="body">
	<div class="home">
		<div class="section">

            {% for message in messages %}
                {% if message.tags == "success" %}
                    <h3 style="background-color:rgb(162, 255, 68)">ALERT: {{message}}</h3>
                {% elif message.tags == "error" %}
                    <h3 style="background-color:tomato">ALERT: {{message}}</h3>
                {% else %}
                    <h3 style="background-color:rgb(74, 255, 255)">ALERT: {{message}}</h3>
                {% endif %}
            {% endfor %}

            <h2>NAFC System Email Account</h2>
            <p>The NAFC system uses a service email account to send emails automatically through the website. The service account that should be in use is nafcdb@gmail.com.</p>

            {% if authError %}
                <p><strong>System is currently unable to access NAFC system email account. Please use the button below to sign into the email system with a service account.</strong></p>
                <p>
                    Logged errors:<br>
                    {% for i in errList %}
                        {{i}}<br>
                    {% endfor %}
                </p>

            {% else %}
                <p><strong>NAFC email system is running smoothly without errors. No action is required.</strong></p>
            {% endif %}
            <br><br>
            <a href="{{authLink}}" target="_blank"><button class="go">Provide the email system access to a service account{% if not authError %} (CURRENTLY UNNEEDED){% endif %}</button></a>
		</div>
	</div>
</div>

{% endblock %}

