{% extends 'nafcbase.html' %}
{% load static %}
{% block content %}

<div class="body">
	<div class="home" style="padding: 10px 10px 5px 10px;">
        
        <link href="{% static 'css/select2.css' %}" rel="stylesheet" />
        <script src="{% static 'js/select2.js' %}"></script>
        <link href="{% static 'css/datepicker.css' %}" rel="stylesheet" />
        <script src="{% static 'js/datepicker.js' %}"></script>
        <script src="{% static 'js/tableUtility.js' %}"></script>
        <script src="{% static 'js/collapsible.js' %}"></script>

        
        <h3>Distribution Log</h3>
        <p style="max-width: 970px;">Click on any green header in the table below to sort the data based on the values in the corresponding column.
            Clicking a header repeatedly will alternate between an ascending and descending sort. <br>
            Please refresh this page to reflect any changes made to the data shown in the table.
        </p>


        {% for message in messages %}
            {% if message.tags == "success" %}
                <h3 style="background-color:rgb(162, 255, 68)">ALERT: {{message}}</h3>
            {% elif message.tags == "error" %}
                <h3 style="background-color:tomato">ALERT: {{message}}</h3>
            {% else %}
                <h3 style="background-color:rgb(74, 255, 255)">ALERT: {{message}}</h3>
            {% endif %}
        {% endfor %}

        <div class="newDiv" id="alerts"></div>

        <a href="/add-dist-entry"><button id="add-entry" class="normal">Add a log entry</button></a><br><br>

        <div class="newDiv collapsibleContainer">
            <button type="button" class="collapsible generalColl thin" id="filterColl">Search filters & sorting</button>
            <div class="collapsibleContent">
                <span class="alignTab">
                {% for one in infoList %}
                    {% if forloop.counter0|divisibleby:7 and forloop.counter0 != 0 %}
                        </span>
                        <span class="alignTab">
                    {% endif %}
                    
                    <p class="slim">Filter by {{one.field}}: <input type="text" class="sBar" id="bar{{one.num}}"></p>
                {% endfor %}
                </span>

                <br><br><button id="clearFil" class="normal">Clear filters</button>
                <button id="goSearch" class="go">Search</button>

                <p>You may also hit the enter key to search.</p>
        </div><br><br>

        <h4 style="padding:0px; margin:0px;" id="totCount">--Loading--</h4>
        <h4 style="padding:0px; margin:0px;" id="matchCount">--Loading--</h4>
        <br>
        
        <table class="basicInfo tableNums" id="myTable">
            <thead>
                {% csrf_token %}
                <tr>
                    {% for one in infoList|slice:":-1" %}
                        <th scope="col" onclick="sortTable('{{one.num}}')">{{one.field}}</th>
                    {% endfor %}
                    {% for one in curFields %}
                        <th scope="col" onclick="sortTable('{{infoList|length|add:forloop.counter0}}')">{{one}}</th>
                    {% endfor %}

                    <th scope="col">Manage</th>
                </tr>
            </thead>
            <tbody id="tests-table">
            
            </tbody>
        </table>




        <script>
            var newId = 4
            var newTest = {'name':null, 'id':`test-${newId}`, 'result':null}
            var curFields = JSON.parse('{{curFields}}'.replaceAll("&#x27;", `"`))
            var curDbns = JSON.parse('{{curDbns}}'.replaceAll("&#x27;", `"`))
            
            setupFilters('{{infoList}}'.split(':').length - 1, "entries")

            $('#add-test').on('click', function(){
                $('.form-wrapper').removeClass('hidden')
            })
        
        
            $('#test-result').on('keyup', function(){
                newTest.result = $(this).val()
            })
        
            $('#test-name').on('change', function(){
                newTest.name = $(this).val()
            })
        
            $('#create-test').on('click', function(){
                if(newTest.name == null) {
                    alert('No test selected!')
                } else {
                    addRow(newTest)
                    $('#test-name').val('')
                    $('#test-result').val('')
                    $('.form-wrapper').addClass('hidden')
                    newId += 1
                    newTest.id = `test-${newId}`
                }
            })
        

            var tests = [], users = [], children = []
            
            var dataUrl = '/get-dist-data-array'
            $.ajax({
                method:'GET',
                url:dataUrl,
                success:function(response){
                    tests = response[0]
                    users = response[1]
                    children = response[2]
                    for (var i in tests){
                        addRow(tests[i])
                    }
                    rows = $('#tests-table').children('tr')
                    
                    $('#totCount').text(`${tests.length} entries exist on the sytem`)
                    $('#matchCount').text(`${tests.length} entries match the current search filters`)
                    resLen = $('#myTable>thead>tr>th').length-2     //Exclude the row number and Manage column
                }
            })



            function deleteTestPOST(data) {
                var deleteUrl = '/delete-dist'
                $.ajax({
                    method:'POST',
                    url:deleteUrl,
                    headers: {'X-CSRFToken': $('[name=csrfmiddlewaretoken]').val()},
                    data:data,
                    success:function() {

                    }
                })
            }
        
        
            var resLen = 0, curFormData = null, curAmount = null
            function addRow(obj)
            {
                resLen = obj.result.length
                curFormData = JSON.parse(obj.result[resLen-1])
                var row = `<tr scope="row" class="test-row-${obj.id}">`, curFieldVal = null
                row += `<td id="result-${obj.id}-0" data-index="0}" data-testid="${obj.id}" class="oneLineData">${users[obj.id]}</td>`
                for (var i = 1; i < resLen; i++)
                {
                    row += `<td id="result-${obj.id}-${i}" data-index="${i}" data-testid="${obj.id}" class="oneLineData">${obj.result[i-1]}</td>`
                }
                for (var i = resLen+1; i < curFields.length + resLen + 1; i++)
                {
                    curAmount = curFormData[curDbns[i-resLen-1]]
                    if (typeof curAmount == "undefined")
                    {
                        curAmount = ""
                    }
                    row += `<td id="result-${obj.id}-${i}" data-index="${i}" data-testid="${obj.id}" class="oneLineData">${curAmount}</td>`
                }
                row +=      `<td class="oneLineData">
                                <a href="/update-dist/${obj.id}" target="_blank"><button class="normal">Edit...</button></a>
                                <button class="danger" data-testid="${obj.id}" id="delete-${obj.id}">Delete</button>
                                <button class="normal hidden" data-testid="${obj.id}" id="cancel-${obj.id}">Cancel</button>
                                <button class="danger hidden" data-testid="${obj.id}" id="confirm-${obj.id}">Confirm</button>
                            </td>
                        </tr>`
                $('#tests-table').append(row)

                
                $(`#delete-${obj.id}`).on('click', deleteTest)
                $(`#cancel-${obj.id}`).on('click', cancelDeletion)
                $(`#confirm-${obj.id}`).on('click', confirmDeletion)
            }
            

        
        
        
            function deleteTest(){
                var testid = $(this).data('testid')

                var deleteBtn = $(`#delete-${testid}`)
                var saveBtn = $(`#save-${testid}`)
                var cancelBtn = $(`#cancel-${testid}`)
                var confirmBtn = $(`#confirm-${testid}`)

                deleteBtn.addClass('hidden')
                saveBtn.addClass('hidden')
                cancelBtn.removeClass('hidden')
                confirmBtn.removeClass('hidden')
            }
        
            function cancelDeletion(){
                var testid = $(this).data('testid')

                var deleteBtn = $(`#delete-${testid}`)
                var saveBtn = $(`#save-${testid}`)
                var cancelBtn = $(`#cancel-${testid}`)
                var confirmBtn = $(`#confirm-${testid}`)
        
                deleteBtn.removeClass('hidden')
                saveBtn.removeClass('hidden')
                cancelBtn.addClass('hidden')
                confirmBtn.addClass('hidden')
            }
        
            function confirmDeletion(){
                var testid = $(this).data('testid')
                var row = $(`.test-row-${testid}`)
                row.remove()

                var data = {'id': testid}
                deleteTestPOST(data)
            }

            
        </script>
	</div>
</div>

{% endblock %}

