
{% extends 'nafcbase.html' %}
{% load static %}
{% block content %}

<div class="body">
	<div class="home">
		<div class="section">

            <link href="{% static 'css/select2.css' %}" rel="stylesheet" />
            <script src="{% static 'js/select2.js' %}"></script>
            <link href="{% static 'css/datepicker.css' %}" rel="stylesheet" />
            <script src="{% static 'js/datepicker.js' %}"></script>
            
            <div class="newDiv alerts"></div>

			<h2>Update a distribution log entry</h2>
            {% for message in messages %}
                {% if message.tags == "success" %}
                    <h3 style="background-color:rgb(162, 255, 68)">ALERT: {{message}}</h3>
                {% elif message.tags == "error" %}
                    <h3 style="background-color:tomato">ALERT: {{message}}</h3>
                {% else %}
                    <h3 style="background-color:rgb(74, 255, 255)">ALERT: {{message}}</h3>
                {% endif %}
            {% endfor %}

            <p>Required fields are marked by an asterisk (*)</p>
            
            <form action="" method="POST" id="dataForm">
                {% csrf_token %}

                <label for="familyLastName">Please select the family that is receiving items: *</label><br>
                <select name="familyLastName" id="userSelect">
                    {% for id, name in userList %}
                        <option value='{{id}}'>{{name}}</option>
                    {% endfor %}
                </select><br><br>

                <label for="child">Please select the child in this family that is receiving items: *</label><br>
                <select name="child" id="childSelect">
                    
                </select><br><br>
                
                <input type="checkbox" name="sent" id="sent">
                <label for="sent">Has this family already recieved the items? *</label>
                <br><br>

                <div class="newDiv" id="formDiv">
                    {% for single_field in form %}
                        {% if single_field.name == "dateDistributed" %}
                            <label for="{{single_field.name}}">{{single_field.label}}</label><br>
                            {{single_field}}<br><br>
                        {% else %}
                            <input type="checkbox" id="{{single_field.name}}" name="{{single_field.name}}">
                            <label for="{{single_field.name}}">{{single_field.label}}</label><br>
                            {{single_field}}<br><br>
                        {% endif %}
                    {% endfor %}
                </div>

                <input type="submit" name="submitter" value="Submit" class="go">
            </form>
            <a href="/"><button class="danger">Cancel</button></a>

            <div class="newDiv alerts"></div>

            <script>
                $(function () {
                  $("#id_dateDistributed").datepicker({
                    format: 'mm/dd/yyyy',
                  })
                  childUpdate()
                  $("#userSelect").val("{{test.forChild.parent.id}}").change()
                  $("#childSelect").val("{{test.forChild.id}}").change()
                  $(`#userSelect`).select2()
                  $(`#childSelect`).select2()
                  if ("{{test.sent}}" == "True")
                  {
                    $("#sent").prop("checked", true)
                  }
                  var formd = JSON.parse("{{test.formData}}".replaceAll("&quot;", '"'))
                  for (var i of Object.keys(formd))
                  {
                    $(`#${i}`).prop("checked", true)
                  }
                })

                function childUpdate()
                {
                    var updateUrl = '/get-user-children'
                    var info = {'userId':$('#userSelect').val()}
                    $.ajax({
                        method:'POST',
                        url:updateUrl,
                        headers: {'X-CSRFToken': $('[name=csrfmiddlewaretoken]').val()},
                        data:info,
                        success:function(response) {
                            var newStr = ""
                            for (var child of response)
                            {
                                newStr += `
                                    <option value="${child[0]}">${child[1]}</option>
                                `
                            }
                            $("#childSelect").empty().append(newStr)
                            $(`#childSelect`).select2()
                        }
                    })
                }
                
                $('#userSelect').on("change", childUpdate)


                $('#dataForm').on('submit', function(e) {
                    e.preventDefault()
                    $(".alerts").empty()
                    var $form = $("#dataForm")

                    var unindexed_array = $form.serializeArray()
                    var indexed_array = {}, curElem = null
                    $.map(unindexed_array, function(n, i){
                        curElem = document.getElementById(n['name'])
                        if(!curElem || curElem.checked)
                        {
                            indexed_array[n['name']] = n['value']
                        }
                    })
                    var vals = indexed_array
                    
                    var updateUrl = '/update-dist/{{pk}}'
                    $.ajax({
                        method:'POST',
                        url:updateUrl,
                        headers: {'X-CSRFToken': $('[name=csrfmiddlewaretoken]').val()},
                        data:vals,
                        success:function(response) {
                            var i = 0
                            for (message of response)
                            {
                                $('.alerts').append(`<h3 class="danger">ALERT: ${message}</h3>`)
                                i += 1
                            }
                            if (i == 0)
                            {
                                window.location.href = '/'
                            }
                        }
                    })
                })

                var curclass = "", prevclass = "", prevind = null, startfield = null
                $("#formDiv>.formfield").each(function(ind){
                    //console.log($(this))
                    curclass = $(this).data("itemtype")
                    if (prevclass != curclass)
                    {
                        var toAdd = ""
                        if (prevclass != "")
                        {   
                            //var toWrap = startfield.nextUntil($(this).prev().prev())        //relies on fact that there is a label, a <br>, then a short answer field
                            var toWrap = startfield.nextUntil($(`label[for="${$(this).attr('name')}"]`).prev())
                            var wrapper1 = toWrap.addBack().wrapAll(`<div class="collapsibleContent" />`).parent()
                            $(`<button type="button" class="collapsible thin generalColl">${prevclass}</button>`).insertBefore(wrapper1).add(wrapper1).wrapAll(`<div class="newDiv collapsibleContainer">`).next().prepend("<br>")
                        }
                        toAdd += `<div class="newDiv collapsibleContainer">
                            <button type="button" class="collapsible thin generalColl">${curclass}</button>
                            <div class="collapsibleContent">
                            `
                        
                        startfield = $(`label[for="${$(this).attr('name')}"]`).prev()
                        prevclass = curclass
                    }
                    prevind = ind
                })
                var lastElem = $("#formDiv>.formfield").last(), wrapper1 = null
                wrapper1 = startfield.nextUntil(lastElem).next().addBack().add(startfield).wrapAll(`<div class="collapsibleContent" />`).parent()
                
                wrapper1.prepend("<br>")
                wrapper1.append("<br><br>")
                //var wrapper1 = startfield.nextAll($("#formDiv>.formfield").last()).addBack().wrapAll(`<div class="collapsibleContent" />`).parent()
                $(`<button type="button" class="collapsible thin generalColl">${prevclass}</button>`).insertBefore(wrapper1).add(wrapper1).wrapAll(`<div class="newDiv collapsibleContainer">`)
                        
            </script>
		</div>
	</div>
</div>

{% endblock %}

