{% extends 'nafcbase.html' %}
{% load static %}
{% block content %}


<div class="body">
	<div class="home">
		<div class="section">
            <h3>Password Reset</h3>

            <p>Enter your NAFC account email address below. If an account tied to the provided email address exists, you will be sent instructions for setting a new password.</p>

            {% for message in messages %}
                {% if message.tags == "success" %}
                    <h3 style="background-color:rgb(162, 255, 68)">ALERT: {{message}}</h3>
                {% elif message.tags == "error" %}
                    <h3 style="background-color:tomato">ALERT: {{message}}</h3>
                {% else %}
                    <h3 style="background-color:rgb(74, 255, 255)">ALERT: {{message}}</h3>
                {% endif %}
            {% endfor %}

            <form method="post">
                {% csrf_token %}
                {{form}}
                <input type="Submit" name="Send email" class="go" value="Send email">
            </form>
        </div>
    </div>
</div>
{% endblock %}