{% extends 'nafcbase.html' %}
{% load static %}
{% block content %}

<div class="body">
	<div class="home">
		<div class="section">
            <h3>Enter new password</h3>

            {% if validlink %}

                {% for message in messages %}
                    {% if message.tags == "success" %}
                        <h3 style="background-color:rgb(162, 255, 68)">ALERT: {{message}}</h3>
                    {% elif message.tags == "error" %}
                        <h3 style="background-color:tomato">ALERT: {{message}}</h3>
                    {% else %}
                        <h3 style="background-color:rgb(74, 255, 255)">ALERT: {{message}}</h3>
                    {% endif %}
                {% endfor %}


                <form method="post">
                    {% csrf_token %}
                    {{form}}
                    <br><p><strong style="color:rgb(172, 3, 37)">WARNING - Password changes cannot be undone.</strong></p>
                    <input type="Submit" name="Update Password" class="danger" value="Update Password">
                </form>
                <br>
                <div class="newDiv alerts"></div>

                <script>
                    $(".helptext").parent().prepend($(".helptext"))
                    $(".errorlist>li").each(function()
                    {
                        $(".alerts").append(`<h3 class="danger">ALERT: ${this.innerText}</h3>`)
                    })
                    $(".errorlist").detach()
                </script>

            {% else %}
                <p>The password reset link was invalid, possibly because it has already been used. <a href="/password-reset"><button class="go">Request a new password reset</button></a></p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}