{% extends 'nafcbase.html' %}
{% load static %}
{% block content %}

<div class="body">
	<div class="home">
		<div class="section">
            <h3>Password Reset Complete</h3>

            <p>Password reset was successful.</p>

            {% for message in messages %}
                {% if message.tags == "success" %}
                    <h3 style="background-color:rgb(162, 255, 68)">ALERT: {{message}}</h3>
                {% elif message.tags == "error" %}
                    <h3 style="background-color:tomato">ALERT: {{message}}</h3>
                {% else %}
                    <h3 style="background-color:rgb(74, 255, 255)">ALERT: {{message}}</h3>
                {% endif %}
            {% endfor %}

            <a href="/"><button class="go">Back to dashboard/login</button></a>
        </div>
    </div>
</div>

{% endblock %}