{% extends 'nafcbase.html' %}
{% load static %}
{% block content %}

<div class="body">
	<div class="home">
		<div class="section">
            <h3>Password Change</h3>


            {% for message in messages %}
                {% if message.tags == "success" %}
                    <h3 style="background-color:rgb(162, 255, 68)">ALERT: {{message}}</h3>
                {% elif message.tags == "error" %}
                    <h3 style="background-color:tomato">ALERT: {{message}}</h3>
                {% else %}
                    <h3 style="background-color:rgb(74, 255, 255)">ALERT: {{message}}</h3>
                {% endif %}
            {% endfor %}

            <form method="POST" action="" id="dataForm">
                {% csrf_token %}
                <label for="oldpass">Enter your current password. If you forgot it, <a href="password-reset"><button class="normal" type="button">reset your password through email instead</button></a> :</label><br>
                <input type="password" name="oldpass"><br><br><br>
                <label for="newpass">Enter your new password (can't be too similar to your other personal info, must be at least 8 characters long, and include at least one lowercase letter, uppercase letter, number, and symbol):</label><br>
                <input type="password" name="newpass"><br><br>
                <label for="newpassconf">Re-enter your new password for confirmation:</label><br>
                <input type="password" name="newpassconf"><br><br>
                <div class="alerts"></div><br>
                <p><strong style="color:rgb(172, 3, 37)">WARNING - Password changes cannot be undone.</strong></p>
                <input type="submit" name="Update Password" class="danger" value="Submit" onclick="return sendData()">
            </form>



            <script>
                
 
                function sendData()
                {
                    $(".alerts").empty()
                    var updateUrl = '/password-change'
                    $.ajax({
                        method:'POST',
                        url:updateUrl,
                        headers: {'X-CSRFToken': $('[name=csrfmiddlewaretoken]').val()},
                        data:getFormData($("#dataForm")),
                        success:function(response) {
                            if (response[0])
                            {
                                window.location.href = response[1]
                            }
                            else
                            {
                                for (message of response[1])
                                {
                                    $('.alerts').append(`<h3 class="danger">ALERT: ${message}</h3>`)
                                }
                            }
                        }
                    })
                    return false
                }
            </script>
        </div>
    </div>
</div>

{% endblock %}