{% extends 'nafcbase.html' %}
{% load static %}
{% block content %}

<div class="body">
	<div class="home">
		<div class="section">
            <h3>Password Reset Sent</h3>

            {% for message in messages %}
                {% if message.tags == "success" %}
                    <h3 style="background-color:rgb(162, 255, 68)">ALERT: {{message}}</h3>
                {% elif message.tags == "error" %}
                    <h3 style="background-color:tomato">ALERT: {{message}}</h3>
                {% else %}
                    <h3 style="background-color:rgb(74, 255, 255)">ALERT: {{message}}</h3>
                {% endif %}
            {% endfor %}

            <p>Password reset instructions have been sent to the provided email. This process will only work if the provided email is tied to an existing account.</p>

            <p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam/junk folders.</p>
        </div>
    </div>
</div>

{% endblock %}